.pio/
.vscode/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform/terraform.tfvars
.venv/
__pycache__/
*.pyc
*.pyo   
*.pyd
*.egg-info/
dist/
build/  
*.egg
*.log
*.bak
*.swp
.DS_Store
.idea/